<a href="https://colab.research.google.com/github/GuilhermeVCCdaSilva/ProjetoBD/blob/main/ProjetoBigData_GuilhermeSilvaMarineFournieGon%C3%A7aloAlves.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Installing required packages
!pip install pyspark
!pip install findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 2.6 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=4c4507466af12d92678ac5521411f0fcad7eb5ca0f185b2b4a03a15ee8e45cf3
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

#Creating a SparkSession
Uma **SparkSession** é o ponto de entrada principal para trabalhar com dados no Spark. Ele é responsável por gerenciar a configuração do Spark, criar RDDs (Resilient Distributed Datasets) e DataFrames, registrar tabelas temporárias e gerenciar o conjunto de recursos de cluster que estão sendo usados.

A SparkSession é a classe principal do Spark SQL, que é o módulo do Spark que permite trabalhar com dados estruturados e relacionais. Ele permite que você execute consultas SQL, manipule DataFrames e extraia metadados. Ele também oferece acesso às bibliotecas de processamento de fluxo de dados (como o DataFrame API e o SQL) e às bibliotecas de aprendizado de máquina (como o MLlib) do Spark.

Uma SparkSession é criada usando o SparkSession.builder. É possível configurar a sessão com várias opções, como o nome do aplicativo, o endereço do cluster, o número de núcleos para usar e a quantidade de memória. Além disso, é possível usar a SparkSession para gerenciar configurações globais, como as configurações de memória e de arquivo de log.

.config("spark.memory.offHeap.enabled","true") é uma configuração utilizada para habilitar o uso de memória fora da heap (off-heap) no Spark. Quando essa configuração é definida como "true", o Spark pode usar memória fora do heap do JVM para armazenar os dados e realizar operações. Isso pode ser útil quando o heap do JVM não é suficiente para armazenar todos os dados, permitindo que o Spark use mais memória do que o heap para melhorar o desempenho das operações.

.config("spark.memory.offHeap.size","10g") é uma configuração utilizada para definir a quantidade de memória fora da heap (off-heap) que o Spark pode usar. O valor "10g" indica que o Spark pode usar até 10 gigabytes de memória fora da heap. Esse valor pode ser ajustado de acordo com o tamanho dos dados e as necessidades do seu aplicativo.

In [2]:
from pyspark.sql import SparkSession
import findspark

findspark.init()

spark = SparkSession.builder.appName("Pyspark Tutorial")\
                    .config("spark.memory.offHeap.enabled","true")\
                    .config("spark.memory.offHeap.size","10g")\
                    .getOrCreate()
spark

In [3]:
!curl https://raw.githubusercontent.com/GuilhermeVCCdaSilva/ProjetoBD/main/Absenteeism_at_work.csv >> Absenteeism_at_work.csv
df = spark.read.csv('Absenteeism_at_work.csv',header=True,sep=";")

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 45232  100 45232    0     0   204k      0 --:--:-- --:--:-- --:--:--  204k

In [4]:
df.show(10)

+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+---------+---+--------------+-------------+---+------+------+---------------+-------------------------+
| ID|Reason for absence|Month of absence|Day of the week|Seasons|Transportation expense|Distance from Residence to Work|Service time|Age|Work load Average/day |Hit target|Disciplinary failure|Education|Son|Social drinker|Social smoker|Pet|Weight|Height|Body mass index|Absenteeism time in hours|
+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+---------+---+--------------+-------------+---+------+------+---------------+-------------------------+
| 11|                26|               7|              3|      1|                   289|                             36|          13| 33|               239.554|        97|                   0|        1|  2|             1|            0|  1|    90|   172|             30|                        4|
| 36|                 0|               7|              3|      1|                   118|                             13|          18| 50|               239.554|        97|                   1|        1|  1|             1|            0|  0|    98|   178|             31|                        0|
|  3|                23|               7|              4|      1|                   179|                             51|          18| 38|               239.554|        97|                   0|        1|  0|             1|            0|  0|    89|   170|             31|                        2|
|  7|                 7|               7|              5|      1|                   279|                              5|          14| 39|               239.554|        97|                   0|        1|  2|             1|            1|  0|    68|   168|             24|                        4|
| 11|                23|               7|              5|      1|                   289|                             36|          13| 33|               239.554|        97|                   0|        1|  2|             1|            0|  1|    90|   172|             30|                        2|
|  3|                23|               7|              6|      1|                   179|                             51|          18| 38|               239.554|        97|                   0|        1|  0|             1|            0|  0|    89|   170|             31|                        2|
| 10|                22|               7|              6|      1|                   361|                             52|           3| 28|               239.554|        97|                   0|        1|  1|             1|            0|  4|    80|   172|             27|                        8|
| 20|                23|               7|              6|      1|                   260|                             50|          11| 36|               239.554|        97|                   0|        1|  4|             1|            0|  0|    65|   168|             23|                        4|
| 14|                19|               7|              2|      1|                   155|                             12|          14| 34|               239.554|        97|                   0|        1|  2|             1|            0|  0|    95|   196|             25|                       40|
|  1|                22|               7|              2|      1|                   235|                             11|          14| 37|               239.554|        97|                   0|        3|  1|             0|            0|  1|    88|   172|             29|                        8|
+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+---------+---+--------------+-------------+---+------+------+---------------+-------------------------+
only showing top 10 rows

#Este DataSet contém várias colunas tais como:

1.  ID: Identificador único para cada registo.
2.    Razão para a ausência: Razão para a ausência do funcionário no trabalho.
3.    Mês da ausência: O mês em que o funcionário estava ausente.
4.    Dia da semana: O dia da semana em que o funcionário estava ausente.
5.    Estações: A estação do ano em que o funcionário estava ausente.
6.    Despesas de transporte: As despesas de transporte incorridas pelo funcionário ao viajar para o trabalho.
7.    Distância da residência para o trabalho: A distância entre a residência do funcionário e o local de trabalho.
8.    Tempo de serviço: O período de tempo em que o funcionário está a trabalhar na empresa.
9.    Idade: A idade do funcionário.
10.    Carga de trabalho média/dia: A carga de trabalho média do funcionário por dia.
11.    Alvo atingido: Se o funcionário atingiu ou não o alvo
12.    Falha disciplinar: Se o funcionário cometeu alguma falha disciplinar ou não.
12.    Educação: O nível de educação do funcionário.
14.    Filhos: O número de filhos que o funcionário tem.
15.    Bebedor social: Se o funcionário bebe socialmente ou não.
16.    Fumador social: Se o funcionário fuma socialmente ou não.
17.    Animal de estimação: Se o funcionário tem algum animal de estimação ou não.
18.    Peso: O peso do funcionário.
19.    Altura: A altura do funcionário.
20.    Índice de massa corporal: O índice de massa corporal do funcionário.
21.    Tempo de ausência em horas: O número de horas que o funcionário ficou ausente.

#Exploratory Data Analysis

- Check the number of rows and columns in the dataset

In [20]:
print("Number of rows:", df.count())
print("Number of columns:", len(df.columns))

Number of rows: 740
Number of columns: 21

- Check the number of missing values in each column

In [7]:
# create a list to store the number of missing values in each column
missing_values = []

# iterate through the columns in the dataset
for col in df.columns:
    missing_values.append((col, df.filter(df[col].isNull()).count()))

# print the missing values
for col, val in missing_values:
    if val == 0:
        print("{} : No missing values".format(col))
    else:
        print("{} : {} missing values".format(col, val))

ID : No missing values
Reason for absence : No missing values
Month of absence : No missing values
Day of the week : No missing values
Seasons : No missing values
Transportation expense : No missing values
Distance from Residence to Work : No missing values
Service time : No missing values
Age : No missing values
Work load Average/day  : No missing values
Hit target : No missing values
Disciplinary failure : No missing values
Education : No missing values
Son : No missing values
Social drinker : No missing values
Social smoker : No missing values
Pet : No missing values
Weight : No missing values
Height : No missing values
Body mass index : No missing values
Absenteeism time in hours : No missing values

- check the data types of the columns

In [8]:
df.dtypes

[('ID', 'string'),
 ('Reason for absence', 'string'),
 ('Month of absence', 'string'),
 ('Day of the week', 'string'),
 ('Seasons', 'string'),
 ('Transportation expense', 'string'),
 ('Distance from Residence to Work', 'string'),
 ('Service time', 'string'),
 ('Age', 'string'),
 ('Work load Average/day ', 'string'),
 ('Hit target', 'string'),
 ('Disciplinary failure', 'string'),
 ('Education', 'string'),
 ('Son', 'string'),
 ('Social drinker', 'string'),
 ('Social smoker', 'string'),
 ('Pet', 'string'),
 ('Weight', 'string'),
 ('Height', 'string'),
 ('Body mass index', 'string'),
 ('Absenteeism time in hours', 'string')]

- Convert data type string to double

In [17]:
from pyspark.sql.functions import col
for column in df.columns:
    df = df.withColumn(column, col(column).cast("double"))

In [16]:
df.dtypes

[('ID', 'double'),
 ('Reason for absence', 'double'),
 ('Month of absence', 'double'),
 ('Day of the week', 'double'),
 ('Seasons', 'double'),
 ('Transportation expense', 'double'),
 ('Distance from Residence to Work', 'double'),
 ('Service time', 'double'),
 ('Age', 'double'),
 ('Work load Average/day ', 'double'),
 ('Hit target', 'double'),
 ('Disciplinary failure', 'double'),
 ('Education', 'double'),
 ('Son', 'double'),
 ('Social drinker', 'double'),
 ('Social smoker', 'double'),
 ('Pet', 'double'),
 ('Weight', 'double'),
 ('Height', 'double'),
 ('Body mass index', 'double'),
 ('Absenteeism time in hours', 'double')]

- Check the statistics of numerical columns

In [22]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------------------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+--------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+------------------+-------------------------+
|summary|                ID|Reason for absence|  Month of absence|   Day of the week|           Seasons|Transportation expense|Distance from Residence to Work|      Service time|              Age|Work load Average/day |       Hit target|Disciplinary failure|         Education|               Son|     Social drinker|      Social smoker|               Pet|            Weight|            Height|   Body mass index|Absenteeism time in hours|
+-------+------------------+------------------+------------------+------------------+------------------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+--------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+------------------+-------------------------+
|  count|               740|               740|               740|               740|               740|                   740|                            740|               740|              740|                   740|              740|                 740|               740|               740|                740|                740|               740|               740|               740|               740|                      740|
|   mean|18.017567567567568|19.216216216216218| 6.324324324324325|3.9148648648648647|2.5445945945945945|    221.32972972972973|              29.63108108108108|12.554054054054054|            36.45|    271.49023513513544|94.58783783783784| 0.05405405405405406|1.2918918918918918| 1.018918918918919| 0.5675675675675675|0.07297297297297298| 0.745945945945946| 79.03513513513514|172.11486486486487|26.677027027027027|        6.924324324324324|
| stddev|11.021247263063657|  8.43340588279965|3.4362869319125897|1.4216747097562805| 1.111831060157382|     66.95222324531973|             14.836788436739143| 4.384873407621148|6.478772457611868|    39.058116188144055|3.779313134418015| 0.22627727323215058|0.6732380415251598|1.0984890195302817|0.49574866720003496| 0.2602680502800183|1.3182582913258336|12.883210507177214| 6.034994530267662| 4.285452223167274|       13.330998100978196|
|    min|               1.0|               0.0|               0.0|               2.0|               1.0|                 118.0|                            5.0|               1.0|             27.0|               205.917|             81.0|                 0.0|               1.0|               0.0|                0.0|                0.0|               0.0|              56.0|             163.0|              19.0|                      0.0|
|    max|              36.0|              28.0|              12.0|               6.0|               4.0|                 388.0|                           52.0|              29.0|             58.0|               378.884|            100.0|                 1.0|               4.0|               4.0|                1.0|                1.0|               8.0|             108.0|             196.0|              38.0|                    120.0|
+-------+------------------+------------------+------------------+------------------+------------------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+--------------------+------------------+------------------+-------------------+-------------------+------------------+------------------+------------------+------------------+-------------------------+

- Check the correlation between columns

In [18]:
corr = df.stat.corr("Month of absence", "Transportation expense")
print(corr)

0.13752456639267643

- Check the number of unique values in each column

In [11]:
 for col in df.columns:
    print("Unique values in column '{}':".format(col), df.select(col).distinct().count())

Unique values in column 'ID': 36
Unique values in column 'Reason for absence': 28
Unique values in column 'Month of absence': 13
Unique values in column 'Day of the week': 5
Unique values in column 'Seasons': 4
Unique values in column 'Transportation expense': 24
Unique values in column 'Distance from Residence to Work': 25
Unique values in column 'Service time': 18
Unique values in column 'Age': 22
Unique values in column 'Work load Average/day ': 38
Unique values in column 'Hit target': 13
Unique values in column 'Disciplinary failure': 2
Unique values in column 'Education': 4
Unique values in column 'Son': 5
Unique values in column 'Social drinker': 2
Unique values in column 'Social smoker': 2
Unique values in column 'Pet': 6
Unique values in column 'Weight': 26
Unique values in column 'Height': 14
Unique values in column 'Body mass index': 17
Unique values in column 'Absenteeism time in hours': 19

- check the distribution of each column

In [19]:
for col in df.columns:
    df.select(col).groupBy(col).count().show()

+----+-----+
|  ID|count|
+----+-----+
| 8.0|    2|
| 7.0|    6|
|29.0|    5|
|35.0|    1|
|18.0|   16|
| 1.0|   23|
|34.0|   55|
|25.0|   10|
|36.0|   34|
| 4.0|    1|
|23.0|    8|
|31.0|    3|
|11.0|   40|
|21.0|    3|
|14.0|   29|
|22.0|   46|
| 3.0|  113|
|19.0|    3|
|28.0|   76|
| 2.0|    6|
+----+-----+
only showing top 20 rows

+------------------+-----+
|Reason for absence|count|
+------------------+-----+
|               8.0|    6|
|               0.0|   43|
|               7.0|   15|
|              18.0|   21|
|               1.0|   16|
|              25.0|   31|
|               4.0|    2|
|              23.0|  149|
|              11.0|   26|
|              21.0|    6|
|              14.0|   19|
|              22.0|   38|
|              19.0|   40|
|               3.0|    1|
|              28.0|  112|
|               2.0|    1|
|              17.0|    1|
|              27.0|   69|
|              10.0|   25|
|              13.0|   55|
+------------------+-----+
only showing top 20 rows

+----------------+-----+
|Month of absence|count|
+----------------+-----+
|             8.0|   54|
|             0.0|    3|
|             7.0|   67|
|             1.0|   50|
|             4.0|   53|
|            11.0|   63|
|             3.0|   87|
|             2.0|   72|
|            10.0|   71|
|             6.0|   54|
|             5.0|   64|
|             9.0|   53|
|            12.0|   49|
+----------------+-----+

+---------------+-----+
|Day of the week|count|
+---------------+-----+
|            4.0|  156|
|            3.0|  154|
|            2.0|  161|
|            6.0|  144|
|            5.0|  125|
+---------------+-----+

+-------+-----+
|Seasons|count|
+-------+-----+
|    1.0|  170|
|    4.0|  195|
|    3.0|  183|
|    2.0|  192|
+-------+-----+

+----------------------+-----+
|Transportation expense|count|
+----------------------+-----+
|                 184.0|    7|
|                 235.0|   58|
|                 369.0|   15|
|                 155.0|   29|
|                 268.0|    3|
|                 279.0|    6|
|                 388.0|    3|
|                 378.0|    8|
|                 231.0|    2|
|                 179.0|  180|
|                 300.0|    5|
|                 225.0|   81|
|                 246.0|   30|
|                 330.0|   16|
|                 248.0|   24|
|                 118.0|   92|
|                 361.0|   24|
|                 157.0|    7|
|                 291.0|   40|
|                 189.0|    8|
+----------------------+-----+
only showing top 20 rows

+-------------------------------+-----+
|Distance from Residence to Work|count|
+-------------------------------+-----+
|                           49.0|    8|
|                           29.0|   14|
|                           42.0|    7|
|                           35.0|    2|
|                           25.0|   54|
|                           36.0|   40|
|                           50.0|   45|
|                           45.0|    1|
|                           31.0|   37|
|                           11.0|   26|
|                           51.0|  120|
|                           14.0|    9|
|                           48.0|    5|
|                           22.0|   20|
|                           17.0|   15|
|                           27.0|    7|
|                           10.0|   55|
|                           13.0|   34|
|                           20.0|   19|
|                           52.0|   24|
+-------------------------------+-----+
only showing top 20 rows

+------------+-----+
|Service time|count|
+------------+-----+
|         8.0|   13|
|         7.0|    7|
|        29.0|    5|
|        18.0|  147|
|         1.0|    7|
|         4.0|   16|
|        11.0|   50|
|        14.0|   85|
|         3.0|   24|
|        17.0|   20|
|        10.0|   55|
|        13.0|   73|
|         6.0|    7|
|        15.0|    4|
|        24.0|    2|
|         9.0|  126|
|        16.0|   38|
|        12.0|   61|
+------------+-----+

+----+-----+
| Age|count|
+----+-----+
|49.0|    5|
|29.0|    7|
|47.0|   24|
|39.0|    8|
|34.0|   29|
|37.0|   78|
|36.0|   50|
|41.0|   34|
|50.0|   37|
|31.0|   22|
|58.0|    8|
|48.0|    6|
|53.0|    1|
|46.0|    2|
|28.0|  117|
|38.0|  113|
|27.0|    7|
|40.0|   58|
|30.0|   46|
|33.0|   51|
+----+-----+
only showing top 20 rows

+----------------------+-----+
|Work load Average/day |count|
+----------------------+-----+
|               239.409|   13|
|               236.629|   19|
|               239.554|   19|
|                230.29|   20|
|               313.532|   15|
|               244.387|   22|
|               271.219|    3|
|               306.345|   18|
|                377.55|   16|
|               308.593|   24|
|               249.797|   15|
|               343.253|   29|
|               378.884|   16|
|               251.818|   21|
|               253.957|   19|
|               261.756|   12|
|               237.656|   32|
|               261.306|   15|
|               284.031|   22|
|               246.288|   20|
+----------------------+-----+
only showing top 20 rows

+----------+-----+
|Hit target|count|
+----------+-----+
|      88.0|   28|
|      98.0|   66|
|      96.0|   75|
|      94.0|   34|
|      93.0|  105|
|      81.0|   19|
|      87.0|   12|
|      99.0|  102|
|      95.0|   75|
|     100.0|   11|
|      92.0|   79|
|      97.0|   89|
|      91.0|   45|
+----------+-----+

+--------------------+-----+
|Disciplinary failure|count|
+--------------------+-----+
|                 0.0|  700|
|                 1.0|   40|
+--------------------+-----+

+---------+-----+
|Education|count|
+---------+-----+
|      1.0|  611|
|      4.0|    4|
|      3.0|   79|
|      2.0|   46|
+---------+-----+

+---+-----+
|Son|count|
+---+-----+
|0.0|  298|
|1.0|  229|
|4.0|   42|
|3.0|   15|
|2.0|  156|
+---+-----+

+--------------+-----+
|Social drinker|count|
+--------------+-----+
|           0.0|  320|
|           1.0|  420|
+--------------+-----+

+-------------+-----+
|Social smoker|count|
+-------------+-----+
|          0.0|  686|
|          1.0|   54|
+-------------+-----+

+---+-----+
|Pet|count|
+---+-----+
|8.0|    8|
|0.0|  460|
|1.0|  138|
|4.0|   32|
|2.0|   96|
|5.0|    6|
+---+-----+

+------+-----+
|Weight|count|
+------+-----+
|  67.0|   30|
|  70.0|   15|
|  69.0|   85|
| 108.0|    5|
|  88.0|   29|
|  98.0|   35|
|  75.0|   19|
|  80.0|   24|
|  86.0|   24|
|  94.0|    4|
|  77.0|    6|
|  56.0|   46|
|  79.0|    3|
|  83.0|   55|
|  58.0|    7|
| 106.0|   19|
|  63.0|   20|
|  68.0|   13|
|  73.0|   37|
|  95.0|   29|
+------+-----+
only showing top 20 rows

+------+-----+
|Height|count|
+------+-----+
| 170.0|  166|
| 169.0|   95|
| 168.0|   48|
| 167.0|   34|
| 182.0|   20|
| 178.0|   57|
| 171.0|   83|
| 165.0|   24|
| 175.0|    8|
| 196.0|   29|
| 185.0|    7|
| 172.0|  155|
| 163.0|    6|
| 174.0|    8|
+------+-----+

+---------------+-----+
|Body mass index|count|
+---------------+-----+
|           29.0|   23|
|           35.0|    2|
|           34.0|    1|
|           25.0|  126|
|           36.0|    5|
|           23.0|   75|
|           31.0|  147|
|           21.0|   22|
|           22.0|   35|
|           19.0|   46|
|           28.0|   59|
|           38.0|   19|
|           27.0|   24|
|           30.0|   40|
|           33.0|    6|
|           32.0|   24|
|           24.0|   86|
+---------------+-----+

+-------------------------+-----+
|Absenteeism time in hours|count|
+-------------------------+-----+
|                      8.0|  208|
|                      0.0|   44|
|                      7.0|    1|
|                    112.0|    2|
|                     64.0|    3|
|                     80.0|    3|
|                    120.0|    3|
|                      1.0|   88|
|                    104.0|    1|
|                      4.0|   60|
|                     56.0|    2|
|                     48.0|    1|
|                      3.0|  112|
|                      2.0|  157|
|                     40.0|    7|
|                     32.0|    6|
|                      5.0|    7|
|                     24.0|   16|
|                     16.0|   19|
+-------------------------+-----+